body {
  background-color: black;
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  opacity: 0.9;
}

header {
  position: fixed;
  border-bottom: 1px solid seashell;
}

footer {
}

footer .p {
  left: 10px;
}

.logo {
  height: 50px;
}

.section-links {
  display: flex;
}

.section-links p {
  text-decoration: underline;
}
